.container{
    max-width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    background-color: darkcyan;
    border-radius: 5px;
    
}
.left-container{
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    margin: 100px auto;
    
    
    
    
}
.sec-key-gen{
    height: auto;
    border: solid black;
    background-color: cadetblue;
}

.secret-key-space{
 border: solid black;
 margin: 10px;
}

.right-container{
    margin: 10px; 
}

.pin-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 30px;
}

#input-pin{
    width: 120px;
    height: 40px;
    background-color:cadetblue;
    border: solid black;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.key-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
#message{
    align-items: center;
}
.common{
    background-color:cadetblue ;
    border: solid rgb(7, 7, 7);
    border-radius: 2px;
}
.x{
    background-color: orange;
}
.submit{
    background-color: limegreen;
}
.clear{
    background-color:orangered ;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color:black;
    text-align: center;
}

@media only screen and (max-width:768px){
    .container{
        grid-template-columns: 1fr 1fr;
    }  
    .pin-container{
        grid-template-columns: 1fr 1fr;
    } 
    .key-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
    }

@media only screen and (max-width:430px){
.container{
    grid-template-columns: 1fr;
}  
.pin-container{
    grid-template-columns: 1fr;
} 
.key-container{
    grid-template-columns: 1fr 1fr;
}
}

